/*.list__modal__backdrop {*/
/*    !*position: relative;*!*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    overflow: scroll;*/
/*    !*background-color: rgba(34, 34, 34, 0.37);*!*/
/*    !*background-color: #222222;*!*/
/*    z-index: 3;*/
/*    border-radius: 36px !important;*/
/*}*/

.list__modal {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 12px !important;
}

.modal__heading {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-m);
}

.list__modal__parts {
  /*  height: 100%;*/
  /*overflow: hidden;*/
    padding: var(--padding-m);
}

.list__modal__parts__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: var(--margin-s);
}
