.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-l) var(--margin-m) var(--padding-l) var(--padding-m);
    /*background-color: #5bbec3 !important;*/
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.drawer {
    background-color: var(--bg-color) !important;
}