.home {
    position: relative;

}
.modal__open {
    background-color: #222222;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.84);
}

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading__left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
 }
.heading__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
 }
.item__additions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.part__addition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.material__addition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;

}

.part__addition__inputs__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;

}

.material__addition__inputs__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;

}
.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*height: 80px;*/
}
.checkbox > input {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    margin: var(--margin-s);
    /*padding: var(--padding-l);*/
}
.checkbox > p {
   flex-wrap: nowrap;
    font-size: var(--font-size-l);
    text-wrap: nowrap;
}