.heading {
    text-align: start;
    padding-top: var(--padding-l);
    margin: 0 auto var(--margin-m) var(--margin-m);

}
.jobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.job {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    margin: 0 var(--margin-m) var(--margin-m) var(--margin-m);
    padding: var(--padding-l) var(--padding-m);
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 16px 16px 20px -5px #000000;
    transition: all 200ms;
}
.job:hover {
    scale: 1.05;
}
.job__number {
    font-size: var(--font-size-xl);
    cursor: pointer;
}
.customer {
    text-align: start;
font-size: var(--font-size-l);
}