.heading {
    text-align: start;
    padding-top: var(--padding-l);
    margin: 0 auto var(--margin-m) var(--margin-m);

}
.jobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin-l); /* Space between items */
    padding: var(--margin-l);
    /*margin: 0 var(--margin-m) auto var(--margin-xl);*/
}
.job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*min-width: calc(22% - var(--margin-m));*/
    /*width: calc(32% - var(--margin-m));*/
    /*width: calc(90% / 3 + var(--margin-l));*/
    width: 100%;
    margin: 0 var(--margin-m) var(--margin-m) var(--margin-m);
    padding: var(--padding-l) var(--padding-m);
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 16px 16px 10px -15px #000000;
    transition: all 200ms;
}
.job__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.job__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.job:hover {
    scale: 1.05;
}
.job__number {
    flex: 1 1 auto;
    font-size: var(--font-size-l);
    cursor: pointer;
}
.customer {
    text-align: start;
font-size: var(--font-size-ml);
}

/*@media (max-width: 768px) {*/
/*    .job {*/
/*        width: calc(48% - var(--margin-m));*/
/*    }*/

/*}*/
