.heading {
    text-align: start;
    margin: var(--margin-m);
    padding: var(--padding-m);
}
h2 {
    width: fit-content;
    font-size: var(--font-size-xl);
    border-bottom: 1px solid green;
    margin-bottom: var(--margin-s);
}
.tip {
    color: black;
    font-size: var(--font-size-ml);
    font-style: italic;
}

.job__info {
    /*border: 1px solid black;*/
    /*border-radius: 12px;*/
    padding: var(--padding-s);
    margin: var(--margin-s);
    text-align: start;
    /*width: fit-content;*/
}

.job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--margin-s) var(--margin-xl) var(--margin-s);
    padding: var(--padding-s) var(--padding-s);
    border: 1px solid black;
    border-radius: 12px;
    /*box-shadow: 16px 16px 20px -5px #000000;*/
    transition: all 200ms;
}

.material {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 var(--margin-s) var(--margin-xl) var(--margin-s);
    padding: var(--padding-s) var(--padding-s);
    border: 1px solid black;
    border-radius: 12px;
    /*box-shadow: 16px 16px 20px -5px #000000;*/
    transition: all 200ms;
}

.material__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.material__info__left {
    padding: var(--padding-s);
    margin: var(--margin-s);
    text-align: start;
    /*width: fit-content;*/
}
.material__info__right {
    padding: var(--padding-s);
    margin: var(--margin-s);
    text-align: end;
    /*width: fit-content;*/
}

.material__totals {
    padding: var(--padding-l);
}
.material__code {
    text-align: start;
    margin: var(--margin-s) 0 0 var(--margin-s);
    color: orange;
}

.material__info__property {
    text-align: start;
    font-size: var(--font-size-l);
    font-weight: bold;
    margin: 0 0 0 var(--margin-s);


}

.material__display {
    padding: var(--padding-l);
    margin: var(--margin-l) var(--margin-m);
    border: 1px solid black;
    border-radius: 12px;
    text-align: start;
    break-inside: avoid;
}

.material__display__material__visual {
    display: flex;
    flex-direction: row;
    background-color: #757575;
    height: 40px;
    width: 100%;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #fff 0, #fff 20px);
    border-radius: 4px;
    border: 1px solid black;
}

.material__display__material__visual__part {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #757575;
    height: 40px;
    fill-opacity: 0.2;
    /*border-radius: 4px;*/
    border-right: 1px solid black;
    /*box-shadow: inset 0 0 0 2px black;*/
}
.material__display__material__visual__part p {
    color: white;
    font-size: var(--font-size-l);
    min-font-size: var(--font-size-m);
    max-font-size: var(--font-size-xl);
    font-weight: bold;

}


.material__display__material__section__part__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*border: 1px solid black;*/
}
.material__display__material__section__part__list__properties {
    width: 100%;
}

.material__display__material__section__part__list__heading {
    border-bottom: 1px solid black;
    width: 100%;
}


@media print {
    .noprint {
        display: none;
    }
    .material__display__material__visual__part {
        box-shadow: inset 0 0 0 20px #757575;

    }
    .material__display__material__visual__part > p {
        color: #ffffff !important;
        /*background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #fff 0, #fff 20px);*/
        /*height: 100%;*/

    }

}
